html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	background: #fff;
}

body,
body * {
	font-family: inherit;
}
